<script src="/JSONApi/js/lodash.js"></script>
<script src="/JSONApi/js/Bs5/bootstrap.bundle.min.js"></script>
<script src="/JSONApi/js/handlebars/handlebars.min-v4.7.7.js"></script>
<script src="/JSONApi/js/sweetalert2/sweetalert2@11.js"></script>

<script src="/JSONApi/Js/CommonClassOnly.js"></script>
<script src="/JSONApi/Js/KeshavSoftCrudFuncs.js"></script>

<script src="/JSONApi/Js/KeshavSoft/FetchFuncs/PreLoad.js"></script>
<script src="/JSONApi/Js/KeshavSoft/FetchFuncs/MenuFuncs.js"></script>
<script src="/JSONApi/Js/KeshavSoft/FetchFuncs/DataFuncs/TableFuncs.js"></script>



<!-- <script src="/js/lodash.js"></script>
    <script src="/js/Bs5/bootstrap.bundle.min.js"></script>
    <script src="/js/handlebars/handlebars.min-v4.7.7.js"></script>
    <script src="/js/sweetalert2/sweetalert2@11.js"></script>
    <script src="/JSONApi/Js/CommonClassOnly.js"></script>
    <script src="/ClassesStatic/BuildDynamic.js"></script> -->